    <nav>
      <ul class="nav__links">
        <li><a href="#">Buy</a></li>
        <li><a href="#">Rent</a></li>
        <li><a href="#">Sell</a></li>
      </ul>

      <div class="nav__brand">
        <img [src]="'/assets/logo.svg'" alt="Logo" />
        <h1>Millow</h1>
      </div>

      <button *ngIf="account" type="button" class="nav__connect">
        {{ account.slice(0, 6) + '...' + account.slice(38, 42) }}
      </button>
      <button *ngIf="!account" type="button" class="nav__connect" (click)="connectHandler()">
        Connect
      </button>
    </nav>
    <header>
      <h2 class="header__title">Search it. Explore it. Buy it.</h2>
      <input
        type="text"
        class="header__search"
        placeholder="Enter an address, neighborhood, city, or ZIP code"
      />
    </header>

<main>
  <router-outlet></router-outlet>
</main>
